@charset "utf-8";

* {margin: 0; box-sizing: border-box;}
ul, ol, li {list-style: none; margin: 0; padding: 0;}
a {text-decoration: none;}
button {cursor: pointer;}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');